.space-between
{
	display:flex;
	justify-content: space-between;
}
#noBookings
{
	background-color: red;
	display: inline-block;
}
.hide-item
{
	display:none;
}

.flex-item
{
	padding: initial;  	
	line-height: 30px;
  	font-size: 1.5em;
  	text-align: center;
}
.heading{
	  	font-weight: bold;
}