<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>finalProjectPRG556</display-name>
  <welcome-file-list>
    <welcome-file>index.jspx</welcome-file>
  </welcome-file-list>
  <error-page>
  	<exception-type>BadRequestException</exception-type>
  	<location>badrequest.jspx</location>
  </error-page>
  <filter>
    <display-name>RedirectFilter</display-name>
    <filter-name>RedirectFilter</filter-name>
    <filter-class>ca.on.senecac.prg556.common.RedirectFilter</filter-class>
    <init-param>
      <description>URL to redirect or dispatch to</description>
      <param-name>url</param-name>
      <param-value>/bookings.jspx</param-value>
    </init-param>
    <init-param>
      <description>Specifies to redirect (REDIRECT) or dispatch forward (DISPATCH)</description>
      <param-name>method</param-name>
      <param-value>DISPATCH</param-value>
    </init-param>
  </filter>
</web-app>