<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>finalProjectPRG556</display-name>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jspx</url-pattern>
      <scripting-invalid>true</scripting-invalid>
    </jsp-property-group>
  </jsp-config>
  <error-page>
    <exception-type>com.mydomain.mainpackage.data.BadRequestException</exception-type>
    <location>/badrequest.jspx</location>
  </error-page>  
  
	<filter>
    	<display-name>BookFilter</display-name>
    	<filter-name>BookFilter</filter-name>
    	<filter-class>com.mydomain.mainpackage.filters.BookFilter</filter-class>
  	</filter>
  	<filter-mapping>
   	 	<filter-name>BookFilter</filter-name>
   		<url-pattern>/book.jspx</url-pattern>
    	<dispatcher>REQUEST</dispatcher>
    	<dispatcher>FORWARD</dispatcher>
  	</filter-mapping>
  	<filter>
    	<display-name>BookingsFilter</display-name>
   		<filter-name>BookingsFilter</filter-name>
    	<filter-class>com.mydomain.mainpackage.filters.BookingsFilter</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>BookingsFilter</filter-name>
    	<url-pattern>/bookings.jspx</url-pattern>
    	<dispatcher>REQUEST</dispatcher>
    	<dispatcher>FORWARD</dispatcher>
  	</filter-mapping>
  	
    <filter>
    	<display-name>HOCORBAMMenuFilter</display-name>
    	<filter-name>HOCORBAMMenuFilter</filter-name>
    	<filter-class>com.mydomain.mainpackage.filters.HOCORBAMMenuFilter</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>HOCORBAMMenuFilter</filter-name>
    	<url-pattern>/.hocorbamenu.jspx</url-pattern>
    	<dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
    <filter>
    <display-name>LogoutFilter</display-name>
    <filter-name>LogoutFilter</filter-name>
    <filter-class>com.mydomain.mainpackage.filters.LogoutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogoutFilter</filter-name>
    <url-pattern>/.logout.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>